//main:style.scss

// _variables.scss

// Color Variables
$orange: #F14B24;
$green: #5ABA48;
$darkblue: #011936;
$strongblue: #022E64;
$normalblue: #03418C;
$lightblue: #8EA8C3;
$lightorange: #EFC69B;
$light: #EFEFEF;
