// Color Variables
$orange: #F14B24;
$green: #5ABA48;
$darkblue: #011936;
$strongblue: #022E64;
$normalblue: #03418C;
$lightblue: #8EA8C3;
$lightorange: #EFC69B;
$light: #EFEFEF;

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.row {
  margin: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.background-white {
  background: $light;
}

.background-gray {
  background: #f8f9fa;
}

.background-light {
  background: $lightblue;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.global-margin {
  margin: 1.5rem 3rem;
}

.global-padding {
  padding: 3rem;
}

.margin-centered {
  margin-left: auto;
  margin-right: auto;
}

.section-container {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.head-max-char {
  max-width: 80ch;
}

.rounded-3 {
  border-radius: 0.3rem !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-family: 'Skranji-Regular';
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 1.75rem;
}

h2 {
  font-family: 'Skranji-Regular';
  font-weight: 600;
  font-size: 1.75em;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: 'Skranji-Regular';
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: 'Skranji-Regular';
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h5 {
  font-family: 'Skranji-Regular';
  font-weight: 400;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: bold;
  margin-bottom: 0;
}

p {
  font-weight: 400;
  margin-bottom: 0;
}

p.thin {
  font-weight: 100;
  font-style: normal;
  margin-bottom: 0;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.text-opacity {
  --bs-text-opacity: 0.6;
  opacity: 0.6;
}
@media screen and (min-width:50px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.33rem;
  }

  .page-body {}

  .button {
    display: inline-block;
    margin: 0;
    font-family: 'Skranji-Regular';
    font-weight: 400;
    margin-bottom: 0;
    color: white;
    text-decoration: none;

    &--solid {
      padding: 1rem 1.5rem;
      border-radius: 0.3rem;
    }

    &--thin {
      padding: 1rem 1.5rem;
      border-radius: 0.3rem;
      background-color: transparent;
      border: 1px solid transparent;
    }

    &--blue {
      color: #fff;
      background-color: $strongblue;
      border-color: $strongblue;

      &:hover {
        background-color: $normalblue;
        border-color: $normalblue;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      a,
      a:hover,
      a:visited {
        color: white;
        text-decoration: none;
      }
    }

    &--white {
      color: #f8f9fa;
      border-color: #f8f9fa;

      a,
      a:hover,
      a:visited {
        color: white;
        text-decoration: none;
      }

      &:hover {
        color: #000;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        a,
        a:hover,
        a:visited {
          color: #000;
        }
      }
    }
  }

  .header {
    background: $darkblue;
    outline: $darkblue;
    color: white;

    &__container {
      display: block;
      padding: 1.5rem 3rem;
      text-align: center;
    }

    &__line {
      font-family: 'Skranji-Regular';
      font-size: 1.5em;
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: center;

      &--headline {
        font-size: 1.75em;
      }

      &--subtext {
        font-size: 1em;
        color: rgba(255, 255, 255, 0.8) !important;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover,
        &:visited {
          text-decoration: none;
          color: white;
        }

        &:hover {
          color: rgba(255, 255, 255, 1) !important;
        }
      }
    }

    &__info {
      font-size: 1.25rem;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }

    &__button {
      cursor: pointer;
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: box-shadow 0.15s ease-in-out;
      color: rgba(255, 255, 255, 0.55);
      border-color: rgba(255, 255, 255, 0.1);
      -webkit-appearance: button;
      text-transform: none;

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.25em;
        padding: 0.25rem;
      }
    }

    &__nav {
      display: none;
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;

      &__list {
        width: 100%;
        margin: 0;
        padding: 0.75rem 0 0;
        margin-top: 0;

        &__entry {
          list-style-type: none;

          &__link {
            display: inline-block;
            width: auto;
            padding: 0.75rem 1.5rem 0.75rem 0;
            height: auto;
            text-decoration: none;
            color: white;
            color: rgba(255, 255, 255, 0.5) !important;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &:hover,
            &:visited {
              text-decoration: none;
              color: white;
            }

            &:hover {
              color: rgba(255, 255, 255, 1) !important;
            }
          }
        }
      }
    }
  }

  .sticky-menu {
    position: fixed;
    bottom: 0;
    background: $darkblue;
    outline: $darkblue;
    color: white;
    font-family: 'Skranji-Regular';
    z-index: 500;
    display: block;
    width: 100%;
    text-align: right;
  border-top: 3px solid $normalblue;

    &__button {
      &__container {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
      position: relative;
      cursor: pointer;
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: box-shadow 0.15s ease-in-out;
      color: rgba(255, 255, 255, 0.85);
      -webkit-appearance: button;
      text-transform: none;
      z-index: 999;

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.25em;
        padding: 0.25rem;
      }
    }

    &__container {
      position: relative;
      width: 100%;
    }

    &__nav {
      display: flex;
      width: 100%;
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;

      &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 0;

        &__item {
          list-style-type: none;
          text-align: center;

          &--first {
            background: $strongblue;
            outline: $strongblue;
          }

          &__link {
            font-size: 1.5em;
            text-align: inherit;
            display: inline-block;
            width: 100%;
            padding: 1rem 1.5rem;
            height: auto;
            text-decoration: none;
            color: white;
            color: rgba(255, 255, 255, 0.85) !important;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &:hover,
            &:visited {
              text-decoration: none;
              color: white;
              color: rgba(255, 255, 255, 0.85) !important;
            }

            &:hover {
              color: rgba(255, 255, 255, 1) !important;
              text-decoration: underline;
              background: $normalblue;
              outline: $normalblue;
            }
          }
        }
      }
    }
  }

  .home-page {
    position: relative;
    display: block;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background: rgb(33,37,41);
      background: linear-gradient(0deg, rgba(33,37,41,0.75) 20%, rgba(33,37,41,0.5) 33%, rgba(33,37,41,0) 100%);
    }

    &__background {
      position: absolute;
      object-position: 50% 15%;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &__front {
      position: relative;
      display: block;
      z-index: 2;
      padding: 2rem 3rem;

      &__logo {
        position: relative;
        display: block;
        height: 0;
        padding-bottom: 8em;
        width: 100%;

        &__img {
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          outline: none;
          background: transparent;
          background-color: transparent;
          border: 1px solid transparent;
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
        }
      }

      &__text {
        width: 100%;
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        color: white;
        z-index: 2;

        &__h1 {
          font-size: 3.25em;
          margin-bottom: 0;
          max-width: 24ch;
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
        }

        &__h3 {
          font-size: 1.75em;
          max-width: 48ch;
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
          --bs-text-opacity: 1;
          color: rgba(255, 255, 255, 0.75) !important;
        }
      }

      &__buttons {
        text-align: center;
        position: relative;
        margin-top: 1.5rem;
        display: block;
        width: 100%;

        .button {
          margin: 0.75rem 0;
        }

        a {
          margin: 0.5rem auto;
          width: 100%;
        }
      }
    }
  }

  .home {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;

    &__front {
      display: block;
      height: auto;
      width: 100%;
      position: relative;

      &__logo {
        position: relative;
        display: block;
        height: 0;
        padding-bottom: 8em;
        width: 100%;

        &__container {
          position: relative;
          display: block;
        }

        &__img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: auto;
          background: transparent;
          outline: none;
          position: absolute;
          background-color: transparent;
          border: 1px solid transparent;
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: rgb(33,37,41);
        background: linear-gradient(0deg, rgba(33,37,41,0.75) 20%, rgba(33,37,41,0.5) 33%, rgba(33,37,41,0) 100%);
      }

      &__background {
        object-position: 50% 15%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
      }

      &__text {
        &__container {
          position: absolute;
        }
        width: 100%;
        position: absolute;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 4rem 3rem;
        z-index: 2;

        h1 {
          font-size: 3.25em;
          margin-bottom: 0;
          max-width: 24ch;
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
        }

        h3 {
          font-size: 1.75em;
          max-width: 48ch;
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.8));
          --bs-text-opacity: 1;
          color: rgba(255, 255, 255, 0.75) !important;
        }
      }

      &__buttons {
        margin-top: 1.5rem;
        display: block;
        width: 100%;

        .button {
          margin: 0.75rem 0;
        }

        a {
          margin: 0.5rem auto;
          width: 100%;
        }
      }
    }

    &--hero {
      padding: 4rem 3rem;
      display: block;
      background: #212529;
      color: white;

      &--container {
        margin: 0 auto;
        display: flex;
      }

      &--text {
        text-align: center;
        width: 100%;
        padding: 0;

        h1 {
          margin-bottom: 1rem;
        }

        h3 {
          --bs-text-opacity: 1;
          color: rgba(255, 255, 255, 0.5) !important;
        }
      }

      &--image {
        display: none;
        padding: 3rem 1rem;
      }

      &--buttons {
        margin-top: 1.5rem;
        display: block;
        width: 100%;

        .button {
          margin: 0.75rem 0;
        }

        a {
          margin: 0.5rem auto;
          width: 100%;
        }
      }
    }

    &--quad {
      width: 100%;
      display: block;
      margin: 3rem auto;
      padding: 0 3rem;

      &--headline {
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
        text-align: center;
      }

      &--box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &--quarter {
          width: 100%;
          padding: 0;
          margin-bottom: 3rem;

          &--icon {
            margin: 0 auto;
            display: block;
            margin-bottom: 1rem;
            background: $darkblue;
            border-radius: 0.3rem !important;
            height: 3rem;
            width: 3rem;
            position: relative;

            i {
              position: absolute;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 1.5em;
              color: white;
            }
          }

          &--header {
            text-align: center;
          }

          &--text {
            text-align: center;
            margin: 0 auto;
            max-width: 38ch;
          }
        }
      }
    }
  }

  .about {
    &--text {
      &--profile {
        position: relative;
        margin: 0 auto;
        height: 10rem;
        width: 10rem;
        margin-bottom: 2rem;

        &--circle {
          &--img {
            overflow: hidden;
            position: relative;
            max-width: 100%;
            height: auto;
            border-radius: 50%;
          }
        }
      }
    }

    &--split {
      padding: 3rem 1.5rem;

      &--text {
        margin: auto 0;
        padding: 0 1.5rem;
      }

      &--img {
        margin-bottom: 1.5rem;
        padding: 0 1.5rem;
      }
    }
  }

  .portfolio {
    img {}

    &--container {
      padding: 1.5rem;
    }

    &--row {
      padding: 0;
    }

    &--entry {
      padding: 1.5rem;
    }

    a {
      text-decoration: none;
      color: initial;

      h3 {
        padding: 0.75rem 0;
      }
    }
  }

  .portfolio--item {
    &--container {
      padding: 1.5rem 1.5rem 0;
    }

    &--row {
      padding: 0;
    }

    &--entry {
      padding: 1.5rem;
    }

    a {
      text-decoration: none;
      color: initial;

      h3 {
        padding: 0.75rem 0;
      }
    }
  }

  .newsletter-signup {
    padding: 2rem 3rem;
    background: $lightorange;
  }

  .form {
    margin: 0.5rem auto;

    &__label {
      display: block;
    }

    input {
      width: 100%;
      font-family: 'Fira Sans';
      border-radius: 0.25rem;
      border: 1px solid #ced4da;
      color: #212529;
      padding: 0.5rem 0.75rem;
      margin: 0.5rem 0;
    }

    textarea {
      width: 100%;
      font-family: 'Fira Sans';
      border-radius: 0.25rem;
      border: 1px solid #ced4da;
      color: #212529;
      padding: 0.5rem 0.75rem;
      margin: 0.5rem 0;
      min-height: calc(1.5em + 0.75rem + 2px);
      resize: vertical;
    }

    &__submit {
      &__button {
        cursor: pointer;
        opacity: 1;
        display: inline-block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
        color: white !important;
        background-color: $darkblue;
        border-color: $darkblue;

        &.disabled {
          opacity: 0.5;
          cursor: default;
          user-select: none;
        }
      }
    }
  }

  .footer {
    padding: 1rem 3rem 5rem 3rem;
    font-family: 'Skranji-Regular' !important;
    font-style: normal;
    font-weight: 300;
    display: block;
    background: $darkblue;
    color: white;
    margin-top: auto;
    text-align: center;

    h2 {
      margin-bottom: 0.5rem;
      text-align: center;
    }

    p {
      font-size: 1.15em;
      font-family: 'Skranji-Regular' !important;
    }

    a,
    a:visited {
      color: white;
    }

    table {
      font-size: 1.15em;
      font-family: 'Skranji-Regular' !important;
      margin: 0 auto;
      width: 100%;

      &.footer__info--title {
        margin-bottom: 0.25em;
      }
    }

    &__info {
      padding: 0.5rem 0;

      &--title {}
    }

    &--container {}

    &--list {
      display: block;
      padding: 1.5rem 0;
      text-align: center;

      &--entry {
        width: auto;
        display: inline-block;

        &--link {
          display: inline-block;
          width: auto;
          margin: 0 1.5rem;
          padding: 0.25rem 1.5rem;
          height: auto;
          text-decoration: none;
          color: white;

          &:hover,
          &:visited {
            text-decoration: none;
            color: white;
          }

          &:hover {}
        }
      }
    }
  }

  .contact {
    font-family: 'Fira Sans';
    width: 100%;
    background-color: #f8f9fa;

    &--container {
      width: 100%;
      display: block;
      padding: 3rem;
    }

    &--icon {
      text-align: center;
      display: block;
      margin: 0 auto 1rem;
      background: #0d6efd;
      border-radius: 0.3rem !important;
      height: 3rem;
      width: 3rem;
      position: relative;

      i {
        position: absolute;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        color: white;
      }
    }

    &--line {
      text-align: center;
      margin-bottom: 1.5rem;

      h2 {
        font-weight: 600;
        font-size: 1.75em;
      }
    }

    &--form--container {}

    &--form {
      margin: 0 auto;
      max-width: 420px;

      .contact--form--entry--error,
      .contact--form--entry--success,
      .invalid-feedback {
        display: none;
      }

      &--entry {
        padding: 0.75rem 0;
        display: block;

        label {
          display: block;
        }

        label.required:after {
          content: "*";
          color: red;
        }

        input {
          width: 100%;
          font-family: 'Fira Sans';
          border-radius: 0.25rem;
          border: 1px solid #ced4da;
          color: #212529;
          padding: 1rem 0.75rem;
        }

        textarea {
          width: 100%;
          font-family: 'Fira Sans';
          border-radius: 0.25rem;
          border: 1px solid #ced4da;
          color: #212529;
          padding: 1rem 0.75rem;
          min-height: calc(1.5em + 0.75rem + 2px);
          resize: vertical;
        }

        &--submit {
          &--button {
            cursor: pointer;
            opacity: 1;
            display: inline-block;
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            border-radius: 0.3rem;
            color: #fff;
            background-color: $strongblue;
            border-color: $strongblue;

            &.disabled {
              opacity: 0.5;
              cursor: default;
              user-select: none;
            }
          }
        }

        & > label {}
      }
    }
  }
}
@media screen and (min-width:768px) {}
@media screen and (min-width:1024px) {}
